.App {
  text-align: center;
}
.kanban {
  align-content: center;
  text-align: center;
}
.projectForm {
  /* align-content: center; */
  justify-content: center;
}
.input {
  height: 20px;
  width: 200px;
  border-color: silver;
}


















.navbox {
  display: inline-block;
}
