.App {
  text-align: center;
}
.kanban {
  /* align-content: center; */
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}
.projectForm {
  /* align-content: center; */
  justify-content: center;
  font-family: 'PT Sans Narrow', sans-serif;
}
.input {
  height: 20px;
  width: 200px;
  border-color: silver;
}
.item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-family: 'PT Sans Narrow', sans-serif;
}
.home {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  align-content: center;
}
.signup {
  /* position: relative; */
  width: 50%;
  top: 50%;
  /* left: 50%; */
  /* margin: -100px 0 0 -150px; */
  font-family: 'PT Sans Narrow', sans-serif;
  /* align-content: center; */
}

body {
  color: red;

}

/* so there is a title in nav bar */
h4 {
  color: black;
}

.image {
  height: 500px;
  width: 1200px;
}
/* .carousel {
  align-items: center;
  position: fixed;
} */
.carousel-inner .items {
  width: 100%;
}
.slide, .carousel-inner {
  height: 300px;
}
.TaskText {
  font-size: 13pt;
}
.col {
  align-items: center;
}
.view {
  /* align-items: center; */
  justify-content: center;

}
.navbox {
  display: inline-block;
}

.carouselImage {
  margin-left: 400px;
}
.row {
  align-content: center;
}
.ProjItem {
  text-align: center;
}
